node_modules
.env
package-lock.json
allure-report
allure-results
reports/
results/
browserLogs/
*.log
storage.json
failedScreenshots.json
.vscode/
allure-report/
allure-results/
logs/
.tmp/
*_diff.png
*_actual.png
.DS_Store

